<nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
  <div class="container">
    <a [routerLink]="['/']" class="navbar-brand">
      <span class="brand-text">URL-Shortener</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about']" routerLinkActive="active">About</a>
        </li>
        <li class="nav-item" *ngIf="!isAuthenticated()">
          <a class="nav-link" [routerLink]="['/auth/registration']" routerLinkActive="active">Sign Up</a>
        </li>
        <li class="nav-item" *ngIf="!isAuthenticated()">
          <a class="nav-link" [routerLink]="['/auth/login']" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item" *ngIf="isAuthenticated()">
          <button class="btn btn-outline-primary" (click)="logout()">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-4">
  <router-outlet></router-outlet>
</div>